:root {
    --font-size-s: 14px;
    --font-size-m: 22px;
    --font-size-l: 40px;
    --line-height: 1.10em;
    --higlight-clr: #f7e300;
    --bg-clr: rgb(255, 255, 255);
    --main-clr: #223C7E;
    --highlight-clr: #FF00FF; 
}

@page {
    margin: 0.5cm;
    size: A4;
    }

@font-face {
    font-family: 'cigarslight';
    src: url('fonts/cigars-light-webfont.woff2') format('woff2'),
         url('fonts/cigars-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sharp_groteskmedium_20';
    src: url('fonts/sharpgrotesk-medium20_2-webfont.woff2') format('woff2'),
         url('fonts/sharpgrotesk-medium20_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

tr > td:nth-of-type(1) {
    color: var(--main-clr);
}

*:not(table) {
    /* padding: 0; */
    margin: 0;
    /* font-size: var(--font-size-m); */
    font-family: 'Arial', Sans-Serif;
    font-weight: 400;
    color: var(--main-clr);
    font-family: 'cigarslight';
}

body {
    margin: 2em;
    background-color: #fcfcfc;
}

h1 {
    font-size: var(--font-size-s);
    line-height: 1.1em;
    font-family: 'sharp_groteskmedium_20';
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
}

p {
    font-size: var(--font-size-m);
    font-family: 'cigarslight';
    line-height: 1.2em;
    display: block;
    width: 50%;
    /* padding: 30px; */
    height: fit-content;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    /* background-color: white; */
    /* border: 3px dotted #737373; */
}

#challenge {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    min-height: 50px;
}

/* hr {
    border: 1px solid var(--main-clr);
    margin: auto;
    margin-bottom: 2em;
    width: 80%;
} */

ul {
    margin-bottom: 0.5em;
}

#prompt {
    font-size: calc(var(--font-size-l)*0.8);
    height: 200px;
}

span {
    font-weight: bold;
    font-family: 'sharp_groteskmedium_20', Sans-Serif;
    font-size: calc(var(--font-size-l)*0.9);
}

#generate {
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2em;
    background-color: var(--main-clr);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    font-family:'sharp_groteskmedium_20';
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
}

#banana {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #777777;
    padding: 4px 10px 4px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    width: fit-content;
    display: block;
    margin: auto;
    margin-bottom: 3em;
  }

table {
    width: 60%;
    margin: auto;
    border: 5px outset #FAFAFA;
    padding: 20px;
    background: white;
}

table * {
    vertical-align: top;
    /* padding: 0.5em 0 ; */
}

table tr td:nth-child(1) {
    width: 20%;
    text-align: left;
    font-weight: bold;
    font-family: 'sharp_groteskmedium_20';
    font-size: 15px;
}

@media print {
    #prompt, span {
        font-size: calc(var(--font-size-m)*2);
    }

    h1 {
        margin-top: 0cm;
    }

    li {
        margin-bottom: 0em;
    }

    #prompt {
        width: 80%;
    }

    input {
        display: none;
        z-index: -1000;
        height: 0px;
        width: 0px;
        position: absolute;
        top: -2000px;
    }

    table {
        margin-top: 1cm;
        width: 80%;
        border: 3px solid lightgray;
    }
 }
 
